@import './../../statics/iconfont/iconfont.css';
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.test1{
  color: blue;
}
$primary: #ea6f5a;;
.nav_center{
  width: 960px;
  height: 100%;
  // background: green;
  margin: 0 auto;
  font-size: 17px;
  color: #333;
  &.left{
    float: left;
  }
  &.right{
    float: right;
  }
}
.pri{
  color: $primary;

}
.nav_left{
  float: left;
  line-height: 56px;
  padding: 0 15px;
}
.nav_right{
  float: right;
  line-height: 56px;
}
.color96{
  color: #969696;
}
.top_input{
  width: 180px;
  height: 38px;
  padding: 0 40px 0 20px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid #eee;
  border-radius: 40px;
  background: #eee;
  margin-top: 9px;
  line-height: 38px;
  transition: all .3s ease
}
.top_input.focus{
  width: 240px;
}
.zc_box{
  position: absolute;
  right: 0;
  top: 0;
  height: 56px;
}
.zc_class{
  float: right;
  width: 80px;
  height: 38px;
  line-height: 24px;
  margin: 9px 5px 0 15px;
  border: 1px solid rgba(236,97,73,.7);
  border-radius: 20px;
  font-size: 15px;
  color: #ea6f5a;
  background-color: transparent;
}
.xwz_class{
  float: right;
  width: 100px;
  height: 40px;
  line-height: 24px;
  margin: 8px 12px 0;
  border-radius: 20px;
  font-size: 15px;
  color: #fff;
  background-color: #ea6f5a;
}
.inpbox{
  display: inline-block;
  position: relative;
}
.fdj{
  position: absolute;
  right: 10px;
  top: 20px;
}
button{
  user-select: none;
  
}
input{
  outline: none;
}

.hottitle{
  font-size: 14px;
  color: #969696;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.aclass{
  margin-right: 10px;
  display: inline-block;
  // line-height: 28px;
  padding: 2px 6px;
  font-size: 12px;
  color: #787878;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-top: 10px;
}

.rotate{
  transform: rotateX(0deg);  
  transition: all .3s ease-in-out;
  transform-origin: center center;
  display: block;
  transform-origin: center center;
  float: left;
}
.hyp{
  cursor: pointer;
}